- include_stylesheet 'admin/bloggable'
= render_region :top 


#bloggings_table.outset
  %table{ :class => "index", :cellpadding => "0", :cellspacing => "0", :border => "0"}
    %thead
      %tr
        - render_region :thead do |thead|
          - thead.subject_header do
            %th
            %th.blogging-subject Subject
          - thead.body_header do
            %th.blogging-body Commentary
          - thead.modify_header do
            %th.modify{:colspan =>"2"} Modify

    %tbody
      - @bloggings.each do |blogging|
        %tr.node.level-1
          - render_region :tbody do |tbody|
            - tbody.subject_cell do
              %td.icon
                = link_to image('blogging', :alt => ''), edit_admin_blogging_url(blogging) 
              %td.blogging
                = link_to "#{blogging.subject_type}: #{blogging.subject.title}", edit_admin_blogging_url(blogging) 
                %br
                - if blogging.published?
                  %span.published
                    published on 
                    = blogging.publication_date
                - else
                  %span.note
                    created on
                    = blogging.creation_date
                    but not yet published
                
            - tbody.body_cell do
              %td.body
                = truncate(blogging.body, 128)

            - tbody.modify_cell do
              %td.remove
                = link_to "#{t("remove")} #{t("blogging")}" , admin_blogging_url(blogging), :method => 'delete', :confirm => "are you sure you want to remove that blog entry?"
 
- render_region :bottom do |bottom|
  - bottom.buttons do
    #actions
      = will_paginate @bloggings
      %ul
        %li= link_to image('plus') + " " + t("new-blogging"), new_admin_blogging_url
        %li= link_to t("blog-list"), admin_blogs_url
   