- case blogging.presentation
  - when "small_asset"
    - image_size = Radiant::Config['blog.small_asset_size'] || 'grid_3'
    - image = image_tag asset.thumbnail(image_size), :alt => asset.title, :class => 'shadowed'
    - body_class = ""
    .asset
      .illustration
        - if blogging.url
          = link_to image, blogging.url
        - else 
          = image
        %p.caption
          = asset.caption

  - when "large_asset"
    - image_size = Radiant::Config['blog.small_asset_size'] || 'grid_10'
    - image = image_tag asset.thumbnail(image_size), :alt => asset.title
    - body_class = "caption"
    .asset
      - if blogging.url
        = link_to image, blogging.url
      - else 
        = image

  - else
    - image_size = Radiant::Config['blog.small_asset_size'] || 'grid_6'
    - image = image_tag asset.thumbnail(image_size), :alt => asset.title, :class => 'lefted'
    - body_class = "caption lefted"
    .asset
      - if blogging.url
        = link_to image, blogging.url
      - else 
        = image

%div{:class => body_class}
  = blogging.body
