.event
  %h2
    = link_to blogging.title || event.title, event.url
  = blogging.body

  %div
    .dateholder
      %span.month
        = event.short_month
      %span.dom
        = event.mday
    .detail
      %h3
        - if event.url
          = link_to event.title, event.url, :class => 'title'
        - else
          = event.title
      %p.venue
        = event.summarize_start
        - if event.event_venue
          %br
          = link_to event.event_venue.title, event.event_venue.url
          = event.event_venue.address
