- case blogging.presentation
  - when "small_quote"
    %div.quote
      = quote.body
      %p.credit
        - if blogging.url
          = link_to(quote.speaker, blogging.url)
        - else
          = quote.speaker
          
  - when "large_quote"
    - cssclass = 'giantquote'
    - closequote = image_tag("/images/furniture/closequotes.png", :width => 18, :height => 18, :alt => '"')
    %div{:class => cssclass}
      %span.quote
        - if blogging.url
          = link_to(quote.body + ' ' + closequote, blogging.url)
        - else
          = quote.body
          = closequote
      %span.credit
        = quote.speaker

  - else
    - cssclass = 'bigquote'
    - closequote = image_tag("/images/furniture/closequotes.png", :width => 18, :height => 18, :alt => '"')
    %div{:class => cssclass}
      %span.quote
        - if blogging.url
          = link_to(quote.body + ' ' + closequote, blogging.url)
        - else
          = quote.body
          = closequote
      %span.credit
        = quote.speaker

